<?xml version="1.0" encoding="utf-8"?>
<!--
Este archivo se usa en el proceso de publicación y empaquetado del proyecto web. Para personalizar el comportamiento de este proceso,
edite el archivo MSBuild. Visite https://go.microsoft.com/fwlink/?LinkID=208121 para obtener más información. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/653a8966-4ad1-4303-a0a4-fe53ddb38659/resourceGroups/Codigofacil/providers/Microsoft.Web/sites/TareasDevLeon</ResourceId>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://tareasdevleon.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ProjectGuid>9417ac25-ae16-49cc-adb2-069fea12d6f8</ProjectGuid>
    <PublishUrl>https://tareasdevleon.scm.azurewebsites.net/</PublishUrl>
    <UserName>$TareasDevLeon</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>