.navbar-toggler[b-phtkuz9dxj] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-phtkuz9dxj] {
    height: 3.5rem;
    
}

.navbar-brand[b-phtkuz9dxj] {
    font-size: 2.1rem;
}

.oi[b-phtkuz9dxj] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-phtkuz9dxj] {
    font-size: 1.0rem;
    padding-bottom: 0.5rem;
    font-weight: bolder;
}

    .nav-item:first-of-type[b-phtkuz9dxj] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-phtkuz9dxj] {
        padding-bottom: 1rem;
    }

    .nav-item[b-phtkuz9dxj]  a {
        color: #ffffff; 
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-phtkuz9dxj]  a.active {
    background-color: #0d6efd;
    color: rgb(255, 255, 255);
}

.nav-item[b-phtkuz9dxj]  a:hover {
    background-color: #f3f4f6;
    color: rgb(2, 2, 2);
}

@media (min-width: 641px) {
    .navbar-toggler[b-phtkuz9dxj] {
        display: none;
    }

    .collapse[b-phtkuz9dxj] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
    
    .nav-scrollable[b-phtkuz9dxj] {
        /* Allow sidebar to scroll for tall menus */
        height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }
}
